<app-header [title]="title"></app-header>


<div class="row mt-4">
    <div class="form_page">
      <h1 style="text-align: center;">Schedule Your Lessons</h1>
      <p style="text-align: center;">Manage your lessons efficiently</p>
        <div class="form-group mt-1">
          <input class="form-control" id="j_recap" type="datetime-local" [(ngModel)] = "newDateTime"/>
        </div>
        <div class="mt-2" style="text-align: center">
          <button class="btn btn-dark">Submit</button>
        </div>
    </div>
  </div>

<div class="row instructor-block mt-5">
  <div class="col-6" style="text-align: center">
    <h2>Upcoming Lessons</h2>
  </div>
  <div class="col-6">
    <div class="student-record">
      <div class="col-6" style="text-align: center">
        <img
        class="circle-image"
          width="70px"
          height="70px"
          src="assets/car.png"
          alt="assets/non.jpg"
        />
        <h5 class="mt-1">Driving Lesson 1</h5>
        <p>Instructor: John Doe</p>
        <h5>Date: 05/25/2023</h5>
      </div>
      <div class="col-6" style="text-align: center">
        <img
          class="circle-image"
          width="70px"
          height="70px"
          src="assets/traffic-light.png"
          alt="assets/non.jpg"
        />
        <h5 class="mt-1">Driving Lesson 2 </h5>
        <p >Instructor: Jane Smith</p>
        <h5>Date: 06/02/2023</h5>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
    <div class="form_page">
      <h1 style="text-align: center;">Reschedule Lesson</h1>
      <p style="text-align: center;">Select a new date and time for your lesson</p>
        <div class="form-group mt-1">
            <label >Select New Date</label>
          <input class="form-control" id="j_recap" type="date" [(ngModel)] = "newDate"/>
        </div>
        <div class="form-group mt-1">
            <label >Select New Time</label>
            <input class="form-control" id="j_recap" type="time" [(ngModel)] = "newTime"/>
          </div>
        <div class="mt-2" style="text-align: center">
          <button class="btn btn-dark">Submit</button>
        </div>
    </div>
</div>
<div class="row">
  <!-- <div leaflet style="height: 400px;"></div> -->
  <app-map></app-map>
</div>

<!-- <div style="bottom: 0 !important; position: absolute; width: 100%"> -->
<app-footer></app-footer>
<!-- </div> -->
