.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-direction: row-reverse;
}

.nav-item .nav-link{
    color: white !important;
    letter-spacing: 0.4px;
    font-size: 16px !important;
}
.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
ul li:hover{
    background-color: lightgray;
    cursor: pointer;
    border-radius: 30px;
    transition: 1s;

}