<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" (click)="navigateToHome()">
      <img
        src="assets/logo.jpeg"
        width="60px"
        height="60px"
        alt=""
        class="d-inline-block align-middle mr-2 mx-3"
      />
    </a>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto" style="align-items: center">
        <li class="nav-item active">
          <a class="nav-link" (click)="navigateToHome()"
            >Home <span class="sr-only"></span
          ></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="navigateToLessonHistory()"
            >Lesson History</a
          >
        </li>
        <li *ngIf="!isInstructor && !isSubscribed" class="nav-item active">
          <a class="nav-link" (click)="navigateToInstructorSearch()"
            >Instructor Search</a
          >
        </li>
        <li *ngIf="isInstructor" class="nav-item active">
          <a class="nav-link" (click)="navigateToAllStudents()">All Students</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="navigateToMyReview()">My Reviews</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="navigateToNotifications()"
            >Notification</a
          >
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
        <a class="nav-link" (click)="opneProfileModal()"
          ><img
            src="assets/profile.jpg"
            alt="Profile Picture"
            class="d-inline-block align-middle mr-2 mx-3 profile-picture"
        /></a>
      </ul>
    </div>
  </div>
</nav>
