.banner{
  display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}
.book-btns{
  display: flex;
    gap: 5px;
}
.banner-heading{
  font-size: 40px;
  font-weight: 700;
line-height: 48px;
color: white;
}
.transparent-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.banner-subheading{
  font-size: 16px;
  font-weight: 400;
line-height: 24px;
color: white;
}

.booked-lesson{
  font-size: 40px;
  font-weight: 700;
line-height: 48px;
color: black;
padding: 97px;
}
.lesson-list{
  display: flex;
    gap: 118px;
}
.lesson-progress{
  font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}

.educational-content{
  font-size: 40px;
  font-weight: 700;
line-height: 48px;
color: black;

}

.form_page{
  margin: 20px;
    transform: translate(50%);
    width: 50%;
}
.row{
  width: 100%;
}
.student-record{
  display: flex;
  justify-content: center;
  min-height: 170px;
  /* border: 0.5px solid #b3b1b1;
  border-radius: 5px; */
  padding: 10px
}


.container {
  padding: 20px;
}
.student-name {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.progress-bar-container {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 5px;
  height: 20px;
  margin-bottom: 20px;
}
.progress-bar {
  width: 75%;
  height: 100%;
  background-color: #563d7c;
  border-radius: 5px;
  transition: width .6s ease-in-out;
}
.lesson {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}
.lesson-title {
  font-weight: bold;
  margin-bottom: 5px;
}
.lesson-details {
  font-size: .8rem;
  margin-bottom: 5px;
}
.book-now-button {
  text-align: right;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.page-link {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 5px;
}
.page-link.active {
  background-color: #ddd;
}


.container  {
  padding: 1px !important;
}

