<app-header [title]="title"></app-header>

<div class="row mt-5">
  <div style="display: flex">
    <div class="col-6" style="text-align: center">
      <h2>Instructor Reviews</h2>
      <p>Rate your overall experience</p>
    </div>
    <div class="col-6">
      <div class="student-record">
        <div
          class="col-6"
          style="
            text-align: center;
            padding: 20px;
            background: lightgray;
            min-height: 200px;
          "
        >
          <div style="display: flex">
            <img
              width="40px"
              height="40px"
              src="assets/teacher-svgrepo-com.svg"
              alt="assets/non.jpg"
            />
            <h5>John Deo</h5>
          </div>
          <div>
            <p style="margin-top: 10px; text-align: start">
              Great experience learning to drive with this platform!
            </p>
            <div class="mt-1" style="text-align: start">
              <img
                width="20px"
                height="20px"
                src="assets/thumbs-up.svg"
                alt=""
              />
              <img
                style="margin-top: 6px; margin-left: 10px"
                width="20px"
                height="20px"
                src="assets/thumbs-down.svg"
                alt=""
              />
            </div>
          </div>
        </div>
        <div
          class="col-6"
          style="
            margin-left: 15px;
            text-align: center;
            padding: 20px;
            background: lightgray;
            min-height: 200px;
          "
        >
          <div style="display: flex">
            <img
              width="40px"
              height="40px"
              src="assets/teacher-svgrepo-com.svg"
              alt="assets/non.jpg"
            />
            <h5>John Deo</h5>
          </div>
          <div>
            <p style="margin-top: 10px; text-align: start">
              Great experience learning to drive with this platform!
            </p>
            <div class="mt-1" style="text-align: start">
              <img
                width="20px"
                height="20px"
                src="assets/thumbs-up.svg"
                alt=""
              />
              <img
                style="margin-top: 6px; margin-left: 10px"
                width="20px"
                height="20px"
                src="assets/thumbs-down.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6" style="padding: 40px">
    <h3 style="text-align: center">Respond to Reviews</h3>
    <p style="text-align: center">
      Your feedback matters. Share your thoughts here.
    </p>
    <div class="form-group mt-1">
      <label>Review Title</label>
      <input class="form-control" id="response" type="text" />
    </div>
    <div class="form-group mt-1">
      <label>Your Review</label>
      <input class="form-control" id="response" type="text" />
    </div>
    <div class="mt-2" style="text-align: center">
      <button class="btn btn-dark">Submit Response</button>
    </div>
  </div>
  <div class="col-1"></div>
  <div class="col-5" style="text-align: center; padding-left: 3%">
    <div class="gray-box">
      <!-- Gray Box Here -->
    </div>
  </div>
</div>
