<app-header></app-header>
<header class="container-fluid  bg-dark p-3 text-light">
  <h1 class="text-center">My Notifications</h1>
</header>
<main class="container">
  <div class="row mt-2 px-2">
      <div class="col-12">
          <div class="student-record">
              <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <img src="assets/teacher-svgrepo-com.svg" alt="Student Image" width="40px" height="40px" class="mr-3">
                        <div>
                            <!-- <h5>John Deo</h5> -->
                            <p class="mt-2">Great experience learning to drive with this platform!</p>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
      <div class="col-12">
        <div class="student-record">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <img src="assets/teacher-svgrepo-com.svg" alt="Student Image" width="40px" height="40px" class="mr-3">
                        <div>
                            <!-- <h5>John Deo</h5> -->
                            <p class="mt-2">Great experience learning to drive with this platform!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</main>
