.gray-box {
    background-color: #ccc;
    width: 70%;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
}
.instructor-block {
    margin: 20px;
    display: flex;
    align-items: center;
}
.instruction-section{
    display: flex;
    align-items: center;
}
.student-record{
    display: flex;
    justify-content: center;
    min-height: 170px;
    /* border: 0.5px solid #b3b1b1;
    border-radius: 5px; */
    padding: 10px
}
.rectangle-image {
    width: 70px; /* Set the desired width */
    height: 70px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 10px; /* Optional: Add rounded corners */
}
.circle-image {
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 50%; /* Make the image circular */
}
.user-section{
    margin-left: 10px;
    line-height: 8px;
    font-size: 14px;
}
.student-inner{
    display: flex;
    /* border: 1px; */
    border: 0.5px solid #b3b1b1;
    border-radius: 5px;
    padding: 10px;
}

.student-inner:hover {
    background: lightblue;
    cursor: pointer;
}

.custom-tabs .nav-item {
    margin-bottom: 10px;
}

.custom-tabs .nav-link {
    padding: 10px 20px;
    border-radius: 20px;
}

.custom-tabs .nav-link.active {
    background-color: #007bff;
    color: #fff;
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;  /* Add spacing between buttons */
    text-decoration: none;  /* Remove underline from links */
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-warning {
    background-color: #ffc107;
    color: #212529;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }

  .nav-wrapper {
    display: flex;
    border-bottom: 2px solid #ddd;  /* Add border for separation */
  }
  
  .custom-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 10px;  /* Add spacing between tabs */
  }
  
  .nav-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;  /* Text color for inactive tabs */
    font-weight: bold;
    border: none;
    border-bottom: 2px solid transparent;  /* Remove default underline */
    transition: background-color 0.3s ease;  /* Add smooth transition */
  }
  
  .nav-link.active,
  .nav-link:hover {
    background-color: #eee;  /* Background color for active and hover */
    border-bottom-color: #ddd;  /* Add border color for active tab */
  }
  
  