<app-header [title]="title"></app-header>
<div class="row instructor-block">
  <div class="col-6" style="text-align: center">
    <h2>Welcome back, Instructor!</h2>
    <p>Manage your lessons and students easily.</p>
  </div>
  <div class="col-1"></div>
  <div class="col-5" style="text-align: center;padding-left: 3%;">
    <div class="gray-box">
      <!-- Gray Box Here -->
    </div>
  </div>
</div>

<div class="row instructor-block mt-5">
    <div class="col-6" style="text-align: center">
        <h2>Upcoming Lessons</h2>
    </div>
    <div class="col-6" style="text-align: center">
        <img width="70px" height="70px" src="assets/cal_icon.png" alt="assets/non.jpg">
        <p>Date: 12/03/2022</p>
        <h5>Location: City Driving Center</h5>
    </div>
</div>

<div class="row instructor-block mt-5">
    <div class="col-6" style="text-align: center">
        <h2>Student Records</h2>
    </div>
    <div class="col-6">
        <div class="student-record">
            <div class="student-inner">
                <div class="profile-section">
                    <img class="rectangle-image" src="assets/profile.jpg" alt="assets/non.jpg">
                </div>
                <div class="user-section">
                    <h5>John Doe</h5>
                    <p>Progress: 80%</p>
                    <p style="align-items: start;">Latest lesson taken - Urban Driving</p>
                    <p style="background: lightgray;line-height: 20px;">Payment Status: Paid</p>
                    <div class="instruction-section">
                        <img class="circle-image" src="assets/profile.jpg" alt="assets/non.jpg">
                        <h5 style="margin-left: 5px;">Instructor: Jane Smith</h5>
                    </div>
        
                </div>
            </div>
            
        </div>
        
        
    </div>
</div>


<div class="row instructor-block mt-5">
    <div class="col-6" style="text-align: center">
        <h2>Calendar of lessons</h2>
    </div>
    <div class="col-6">
        <div class="student-record">
            <div class="student-inner" (click)= "navigateTo()">
                <div class="profile-section">
                    <img class="rectangle-image" src="assets/profile.jpg" alt="assets/non.jpg">
                </div>
                <div class="user-section">
                    <h5>John Doe</h5>
                    <p>Progress: 80%</p>
                    <p style="align-items: start;">Latest lesson taken - Urban Driving</p>
                    <p style="background: lightgray;line-height: 20px;">Payment Status: Paid</p>
                    <div class="instruction-section">
                        <img class="circle-image" src="assets/profile.jpg" alt="assets/non.jpg">
                        <h5 style="margin-left: 5px;">Instructor: Jane Smith</h5>
                    </div>
        
                </div>
            </div>
            
        </div>
        
        
    </div>
</div>
<app-footer></app-footer>
