<app-header [isInstructor]="true"></app-header>
<header class="container-fluid bg-dark p-3 text-light">
  <h1 class="text-center">Lesson History and Details</h1>
  <p class="text-center">View your past lessons and details</p>
</header>
<main class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search lessons by keyword"
          aria-label="Search lessons by keyword"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          id="button-addon2"
        >
          Search
        </button>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <div class="table-responsive">
            <h2 class="mb-4">All Lessons</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Lesson Date</th>
                  <th scope="col">Student Name</th>
                  <th scope="col">Lesson Type</th>
                  <th scope="col">Status</th>
                  <th scope="col">Progress</th>
                  <th scope="col">View Detail</th>
                  <th scope="col">Action</th>
                  <!-- <th scope="col">Add Review</th> -->
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let lesson of allAvailableLessons;let i = index">
                  <tr>
                    <td>{{lesson.date}}</td>
                    <td>{{lesson.student_name}}</td>
                    <td>{{lesson.lesson_type}}</td>
                    <td>{{lesson.status == 1?'Completed':'In Progress'}}</td>
                    <td>{{lesson.progress}}</td>
                    <td>
                      <a
                        class="btn btn-primary btn-sm"
                        role="button"
                        (click)="viewDetail(i)"
                        >View Details</a
                      >
                    </td>
                    <td *ngIf="lesson.status">
                      <a 
                        class="btn btn-primary btn-sm"
                        role="button"
                        (click)="addReview(1)"
                        >Post a review</a
                      >
                    </td>
                    <td *ngIf="!lesson.status">
                      <a 
                        class="btn btn-primary btn-sm"
                        role="button"
                        (click)="updateProgress(i)"
                        >Update Progress</a
                      >
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="isViewDetails">
      <h3>Lesson Details</h3>
      <div class="card">
        <div class="card-body">
          <p><b>Lesson Date:</b> {{lessonDetail.date}}</p>
          <p><b>Student Name:</b> {{lessonDetail.student_name}}</p>
          <p><b>Lesson Type:</b> {{lessonDetail.lesson_type}}</p>
          <p><b>Status:</b>{{lessonDetail.satus == 1?'Completed':'In Progress'}}</p>
          <p><b>Lesson Progress:</b> {{lessonDetail.progress}}</p>
          <p><b>Lesson Description:</b> {{lessonDetail.description}}</p>
          <!-- <p><b>Lesson Materials:</b></p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" *ngIf="postReview">
    <div class="card-body">
      <h2>Student Feedback</h2>
      <form>
        <div class="mb-3">
          <label for="comments" class="form-label">Comments:</label>
          <textarea class="form-control" id="comments" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</main>
