.footer-main{
    background-color: #333;
    color: #fff;
    /* padding: 26px; */
    /* text-align: center; */
    bottom: 0;
    width: 100%;
}
.circle-image {
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 50%; /* Make the image circular */
}
.main-div{
    display: flex;
    /* padding: 10px; */
    padding: 20px 0px 5px 50px;
    font-size: 12px;
}
.user-section{
    margin-left: 10px;
    line-height: 8px;
    font-size: 14px;
}