.row{
    width: 100%;
}
.form_page {
    margin: 20px;
    transform: translate(50%);
    width: 50%;
}

.instructor-block {
    display: flex;
    align-items: center;
}
.student-record{
    display: flex;
    justify-content: center;
    min-height: 170px;
    /* border: 0.5px solid #b3b1b1;
    border-radius: 5px; */
    padding: 10px
}
.circle-image {
    width: 70px; /* Set the desired width */
    height: 70px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 50%; /* Make the image circular */
}