<app-header [isInstructor] = "true"></app-header>
<div class="container mt-5">
  <h1 class="student-name">Welcome, Instructor</h1>
  <div class="row">
    <div class="col-xl-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body text-left">
                <h3 class="success">11</h3>
                <span>Upcoming Lectures</span>
              </div>
              <div class="align-self-center">
                <i class="icon-cup success font-large-2 float-right"></i>
              </div>
            </div>
            <div class="progress mt-1 mb-0" style="height: 7px;">
              <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <main class="container mt-5">
    <div class="row">
      <div style="text-align: center;">
        <button class="btn btn-primary" (click)="createModal()">Create a New Lesson</button>
      </div>
      <ng-container *ngFor="let lesson of availableLessons;let id = index;">
        <div class="col-md-6 mt-1">
          <div class="card lesson-card">
              <div class="card-body">
                  <h5 class="card-title">{{lesson.title}}</h5>
                  <p class="card-text">Student: {{lesson.student_name}}</p>
                  <p class="card-text">Date: {{lesson.date}}</p>
                  <p class="card-text">Time: {{lesson.timing}}</p>
                  <p class="card-text">Cost: {{lesson.cost}}</p>
                  <p class="card-text">Lesson Type: {{lesson.lesson_type}}</p>
                  <a  class="btn btn-primary" (click)="editModal(id)">Edit</a>
                  <a  class="btn btn-warning" style="margin-left: 10px;" (click)="deleteModal(id)">Delete</a>
              </div>
          </div>
      </div>
      </ng-container>
    </div>
</main>
</div>



