<app-header [title]="title"></app-header>

<div class="row mt-4">
  <div class="col-12" style="text-align: center">
    <h2>Student Reviews</h2>
    <p>Check out what students are saying about our driving lessons.</p>
  </div>
</div>

<div class="row instructor-block mt-5">
  <div class="col-6" style="text-align: center">
    <h2>Student Feedback</h2>
  </div>
  <div class="col-6">
    <div class="student-record">
      <div
        class="col-6"
        style="
          text-align: center;
          padding: 20px;
          background: lightgray;
          min-height: 200px;
        "
      >
        <div style="display: flex">
          <img
            width="40px"
            height="40px"
            src="assets/teacher-svgrepo-com.svg"
            alt="assets/non.jpg"
          />
          <h5>John Deo</h5>
        </div>
        <div>
          <p style="margin-top: 10px; text-align: start">
            Great experience learning to drive with this platform!
          </p>
          <div class="mt-1" style="text-align: start">
            <img width="20px" height="20px" src="assets/thumbs-up.svg" alt="" />
            <img
              style="margin-top: 6px;
              margin-left: 10px;"
              width="20px"
              height="20px"
              src="assets/thumbs-down.svg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div
        class="col-6"
        style="
          margin-left: 15px;
          text-align: center;
          padding: 20px;
          background: lightgray;
          min-height: 200px;
        "
      >
        <div style="display: flex">
          <img
            width="40px"
            height="40px"
            src="assets/teacher-svgrepo-com.svg"
            alt="assets/non.jpg"
          />
          <h5>John Deo</h5>
        </div>
        <div>
          <p style="margin-top: 10px; text-align: start">
            Great experience learning to drive with this platform!
          </p>
          <div class="mt-1" style="text-align: start">
            <img width="20px" height="20px" src="assets/thumbs-up.svg" alt="" />
            <img
              style="margin-top: 6px;
              margin-left: 10px;"
              width="20px"
              height="20px"
              src="assets/thumbs-down.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row instructor-block mt-5">
  <div class="col-6" style="text-align: center">
    <h2>Lesson History</h2>
  </div>
  <div class="col-6">
    <div class="student-record">
      <div class="col-6" style="text-align: center">
        <img
          width="70px"
          height="70px"
          src="assets/teacher-svgrepo-com.svg"
          alt="assets/non.jpg"
        />
        <h6>Lesson Take</h6>
        <p class="mt-1">Complete Lessons</p>
        <h5>5</h5>
      </div>
      <div class="col-6" style="text-align: center">
        <img
          width="70px"
          height="70px"
          src="assets/cal_icon.png"
          alt="assets/non.jpg"
        />
        <h6>Payments</h6>
        <h5>$455</h5>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="form_page">
    <h1 style="text-align: center">Respond to Reviews</h1>
    <p style="text-align: center;">Your feedback matters. Share your thoughts here.</p>
    <div class="form-group mt-1">
        <label>Your Response</label>
        <input class="form-control" id="response" type="text"/>
      </div>
      <div class="mt-2" style="text-align: center">
        <button class="btn btn-dark">Submit Response</button>
      </div>
  </div>
</div>
<!-- <div style="bottom: 0 !important; position: absolute; width: 100%"> -->
<app-footer></app-footer>
<!-- </div> -->
