.instructor-block {
    display: flex;
    align-items: center;
}
.instruction-section{
    display: flex;
    align-items: center;
}
.student-record{
    display: flex;
    justify-content: center;
    min-height: 170px;
    /* border: 0.5px solid #b3b1b1;
    border-radius: 5px; */
    padding: 10px
}
.rectangle-image {
    width: 70px; /* Set the desired width */
    height: 70px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 10px; /* Optional: Add rounded corners */
}
.circle-image {
    width: 40px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 50%; /* Make the image circular */
}
.user-section{
    margin-left: 10px;
    line-height: 8px;
    font-size: 14px;
}
.student-inner{
    display: flex;
    /* border: 1px; */
    border: 0.5px solid #b3b1b1;
    border-radius: 5px;
    padding: 10px;
}

.student-inner:hover {
    background: lightblue;
    cursor: pointer;
}
.form_page {
    margin: 20px;
    transform: translate(50%);
    width: 50%;
}
.row{
    width: 100%;
}